<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {tabTitle: 'Orden'}) %>

<body>

    <%- include('partials/header') %>




<section>
    <h1>Mi carrito</h1>
        
        <div class="order__container">
            <table class="admin-product__table">
                <thead>
                    <tr class="admin-product__td">
                        <td class="admin-product__td">Imagen</td>
                        <td class="admin-product__td">Producto</td>
                        <td class="admin-product__td">Precio</td>
                        <td class="admin-product__td">Cantidad</td>
                        <td class="admin-product__td">Acciones</td>
                    </tr>
                </thead>
                    <tbody id="tbody"></tbody>
            </table> 
        </div>
</section>




<!-- ========================== Inicio Footer =============================== -->

<%- include('partials/footer') %>

<!-- ========================== Final Footer =============================== -->

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> 
    <script src="/js/funcionality/alert.js"></script>
    <script src="/js/products/order.js"></script>
    <script src="/js/funcionality/header.js"></script>
</body>
</html>