/* Section Styles */

.admin-product__section-product {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  
  /* Form Styles */
  
  .admin-product__form {
    padding: 2rem;
    background-color: rgb(255, 255, 251);
    color: #b1260d;
    font-size: 1.5rem;
  }
  
  .admin-product__form h1 {
    margin: 0 0 1rem;
    font-size: 2rem;
  }
  
  .admin-product__div--product {
    margin-bottom: 1rem;
  }
  
  .admin-product__label {
    display: block;
    text-align: center;
    margin-bottom: 5px;
  }
  
  .admin-product__input,
  .admin-product__textarea {
    width: 100%;
    padding: 10px;
    font-size: 1.25rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .admin-product__input[type="file"] {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1.25rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: beige;
  }
  
  .admin-product__btn {
    font-size: 1.2rem;
    height: 35px;
    width: 100%;
    background-color: #5a5a5a;
    border: none;
    border-radius: 5px;
    color: #f2f2f2;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
    cursor: pointer;
  }
  
  .admin-product__btn:hover {
    background-color: #b1260d;
    color: #494949;
  }
  
  /* Table Styles */
  
  .admin-product__table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .admin-product__table th,
  .admin-product__table td {
    padding: 10px;
    text-align: center;
  }
  
  .admin-product__textarea {
  width: 100%;
  text-align: center;
  align-items: center;
  }

  /* Estilo de la tabla */
  .admin-product__table-div {
    overflow-x: auto;
  }

  .admin-product__table {
    width: 100%;
    border-collapse: collapse;
  }

  .admin-product__table th,
  .admin-product__table td {
    padding: 10px;
    text-align: left;
  }

  .admin-product__td {
    font-weight: bold;
  }

  .admin-product__actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .admin-product__action-btn {
    background-color: #b30000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
  }

  /* Estilo responsive */
  @media (max-width: 768px) {
    .admin-product__table-div {
      overflow-x: initial;
    }

    .admin-product__table {
      width: auto;
    }
  }

    .product {
      background-color: #ffffff;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      margin-bottom: 10px;
    }
  
    .product td {
      padding: 10px;
    }
  
    .product__img {
      max-width: 120px;
      height: auto;
      border-radius: 5px;
    }
  
    .product__name,
    .product__desc,
    .product__price {
      text-align: left;
    }
  
    .product__actions {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  
    .product__action-btn {
      background-color: #b30000;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 5px 10px;
      margin-left: 5px;
      cursor: pointer;
    }
  
    /* Estilo responsive */
    @media (max-width: 768px) {
      .product {
        display: flex;
      }
  
      .product td {
        flex: 0 0 100%;
        max-width: 100%;
      }
  
      .product__img-cell {
        text-align: center;
      }
  
      .product__img {
        margin-bottom: 10px;
      }
  
      .product__actions {
        justify-content: center;
        margin-top: 10px;
      }
    }



  /* Media Queries */
  
/*   @media screen and (min-width: 600px) {
    .admin-product__form {
      font-size: 1.25rem;
    }
  }
  
  @media screen and (min-width: 1000px) {
    .admin-product__section-product {
      flex-direction: row;
    }
    
    .admin-product__form {
      width: 50%;
      margin-right: 2rem;
    }
    
    .admin-product__table-div {
      flex-grow: 1;
    }
  } */
